body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 25px;
}

header{
    position: absolute;
    float: right;
}


/*Quiz*/
#quiz {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
}


#quiz div {
    width: 50%;
    margin: 10px auto; 
    border: 2px solid #0fb900; 
    border-radius: 10px; 
    padding: 20px; 
    text-align: center;
}

#quiz button{
    width: 10%;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
}

/*Correct / Incorrect / Empty answers*/

.correct {
    background-color: #4CAF50; 
    color: white;
    border-radius: 4px;
    padding: 5px;
}

.incorrect {
    background-color: #F44336;
    color: white;
    border-radius: 4px;
    padding: 5px;
}

.unanswered {
    border: 2px solid red; 
    padding: 10px;
    background-color: #f8d7da; 
}

/*Dark Mode Changes*/

.dark-mode {
    background-color: #282828;
    color: white;
}

.dark-mode button {
    background-color: #3f3f3f;
    color: white;
}

.dark-mode #quiz div {
    border-color: #043500;
}

.dark-mode .correct {
    background-color: #234b25;
}

.dark-mode .incorrect {
    background-color: #240a0a;
}

.dark-mode .unanswered {
    background-color: #361216;
}