body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 25px;
}

/* Dark mode button */

#darkModeButton{
    
}

.dark-mode {
    background-color: black;
    color: white;
}